<% @products.each do |product| %>
    <div class="col mb-5">
        <div class="card h-100">
            <%= image_tag(product.image,class:"card-img-top") if product.image.attached? %>
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <%= link_to page_path(product) ,class: "card" do %>
                        <!-- Product name-->
                        <h5 class="fw-bolder">
                            <%= product.product_name %>
                        </h5>
                        <!-- Product price-->
                        <%= product.price %>
                    <% end %>
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                    <%= form_for @order_item do |form| %>
                      <%= form.hidden_field :product_id,value: product.id %>
                      <%= form.hidden_field :quantity,value: 1 ,min:1 %>
                      <%= form.submit 'Add to cart'%>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>