<% if current_user %>
  <% if current_user.customer? %>
      <% if @products %>
          <div class="row-cols-1">
            <%= render 'pages/nav_filter'%>
          </div>
          <section class="py-5">
              <div class="container px-4 px-lg-5 mt-5">
                  <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <%= render 'pages/product'%>
                  </div>
                  <div class="apple_pagination">
                      <%= will_paginate @products,:container => false %>
                  </div>
              </div>
          </section>
      <% end %>
  <% end %>
<% else %>
    <% if @products %>
        <div class="row-cols-1">
            <%= render 'pages/nav_filter'%>
        </div>
        <section class="py-5" >
                <div class="container px-4 px-lg-5 mt-5">
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                      <%= render 'pages/product'%>
                    </div>
                    <div class="apple_pagination">
                      <%= will_paginate @products,:container => false %>
                    </div>
                </div>
        </section>
    <% end %>
<% end %>


