<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Production date:</strong>
  <%= @product.production_date %>
</p>

<p>
  <strong>Exp date:</strong>
  <%= @product.exp_date %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Image:</strong>
  <%= @product.image %>
</p>

</div>
<%= link_to "Back to products", root_path %>