<p style="color: green"><%= notice %></p>

<div class="card">
  <div class="card-header">
    <center><b>Category Information</b></center>
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong>Name Category: </strong><%= @category.category_name %></h5>
  </div>
</div>
<br><br>
<div>
  <%= link_to "Edit this books", edit_category_path(@category) %> |
  <%= link_to "Back to Book", categories_path %>
  <br><br>
  <%= button_to "Destroy this category", @category, method: :delete,class:"btn btn-danger" %>
</div>

