<!DOCTYPE html>
<html>
  <head>
    <title>EStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

    <link href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href='https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css' type="text/css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.2.js" integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  </head>

  <body class="sb-nav-fixed">
  <% if current_user %>
      <% if current_user.admin? || current_user.owner? %>
            <%= render 'layouts/admin_nav' %>
            <% if current_user.admin? %>
                  <div class="container" style="margin-left: 270px; margin-top: 90px;">
                        <div class="row">
                          <div class="col-xl-3 col-md-6">
                            <div class="card bg-primary text-white mb-4">
                              <div class="card-body">Number of Product</div>
                              <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#"><%= Product.count %></a>
                                <div class="small text-white"></div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-3 col-md-6">
                            <div class="card bg-warning text-white mb-4">
                              <div class="card-body">Number Of Users</div>
                              <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#"><%= User.count %></a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-3 col-md-6">
                            <div class="card bg-success text-white mb-4">
                              <div class="card-body">Number Of Category</div>
                              <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#"><%= Category.count %></a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-3 col-md-6">
                            <div class="card bg-danger text-white mb-4">
                              <div class="card-body">Number Of Store</div>
                              <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#"><%= Store.count %></a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <%= yield %>
                  </div>
            <% else %>
                <div class="container" style="margin-left: 270px; margin-top: 90px;">
                  <%= yield %>
                </div>
  <% end %>

      <% else %>
            <%= render 'layouts/header' %>
            <div class="container" style="margin-left: 270px; margin-top: 90px;">
                <%= yield %>
            </div>
      <% end %>
  <% else %>
      <%= render 'layouts/header' %>
      <div class="container">
        <br><br><br>
        <%= yield %>
      </div>
  <% end %>

  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>
